body {
  background-color: #f6f3f4;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-family: "Helvetica";
  color: #355882;
}

/* .tree:has(.older:hover, .younger:hover) { */
/*   background: transparent !important; */
/* } */
